<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hm.quizapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApplication.noActionBar">
        <activity
            android:name="com.hm.quizapplication.app.activities.Follow_us"
            android:exported="false" />
        <activity
            android:name="com.hm.quizapplication.app.activities.Splash_screen"
            android:exported="false" />
        <activity
            android:name="com.hm.quizapplication.app.activities.AboutActivity"
            android:exported="false" />
        <activity
            android:name="com.hm.quizapplication.app.activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.hm.quizapplication.app.activities.ResultActivity"
            android:exported="false" />
        <activity
            android:name="com.hm.quizapplication.app.activities.LoginIntro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hm.quizapplication.app.activities.MainActivity" />
        <activity android:name="com.hm.quizapplication.app.activities.SignUpActivity" />
        <activity android:name="com.hm.quizapplication.app.activities.LoginActivity" />
        <activity android:name="com.hm.quizapplication.app.activities.QuestionActivity" />
    </application>

</manifest>